// Node
.node {
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
// Node title
.node h2 {
  margin-top: 10px;
  padding-bottom: 9px;
}
// Node submission information
.node .user-picture img {
  .img-circle();
  width: 32px;
  height: 32px;
  float: left;
  margin: -5px 5px 0px 0px;
}
// Node content image
.node .field-name-field-image-style img { margin: 20px auto; }
// Node footer
.node-footer {
  clear: both;
  margin-top: 20px;
}

// Inline display of terms (tags, types, groups, etc)
.field-name-field-event-type,
.field-name-field-group-type,
.field-name-field-resource-type,
.field-name-field-section,
.field-name-field-tags,
.field-name-og-group-ref,
.field-name-group-access,
.field-name-group-content-access {
  display: inline-block;
  margin: 10px 5px 10px 5px;
  vertical-align: bottom;
}
// Inline display of actions (read more, comments, etc)
ul.links {
  display: inline-block;
  float: right;
}
