// DruTACT - User interface

// Responsive adminimal_admin_menu
@media screen and (max-width: 1024px) {
  body.adminimal-menu .navbar-fixed-top {
    top: 0px;
  }
  body.adminimal-menu.navbar-is-fixed-top {
    padding-top: 50px !important;
  }
  body.adminimal-menu .navbar-static-top {
    margin-top: 20px;
  }
  body.adminimal-menu .slicknav_menu {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  body.adminimal-menu {
    margin-top: 28px !important;
  }
  body.adminimal-menu .navbar.container {
    margin-top: 48px;
  }
  body.adminimal-menu .navbar-static-top {
    margin-top: 48px !important;
  }
  body.adminimal-menu.navbar-is-fixed-top {
    padding-top: 64px !important;
  }
  body.adminimal-menu .navbar-is-fixed-top {
    margin-top: 0px !important;
    margin-bottom: 47px !important;
  }
}

// Inverted link color inside label
.label a { color: @label-color; }
// Icon field label color
.field-label i.fa { color: @gray-light; }
