// DruTACT - Search

// Search form in navbar
nav #block-search-form #edit-actions { margin-bottom: 0px; }
#search-block-form .input-group-btn { width: auto; }
#search-block-form { padding-top: 2px; }
#search-block-form .form-group { margin-bottom: 0px; }
// Advanced search form
#search-form .criterion { .form-group(); }
