/* Event Calendar */
#block-views-public-events-calendar-block-1 { margin-top: 0px; }
#block-views-public-events-calendar-block-1 .date-heading { top: 5px; }
.date-nav { padding-bottom: 0.5em !important; }
.date-nav .pager { margin: 0px; }
.view .date-nav-wrapper .pager li > a { border-radius: 4px; }
.view .date-nav-wrapper .date-nav { margin-bottom: 0px; }
.view .date-nav-wrapper .date-next a,
.view .date-nav-wrapper .date-prev a { margin: 0px; }
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next { background: none; }
.view .date-nav-wrapper .date-prev { right: 70px; }
